{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tweets/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'tweets/style.css' %}">

<div class="header">
    <div class="header-logo"><a class="logo-title centering" href="{% url 'tweets:index' %}">Photo Tweet</a></div>
    {% if user.is_authenticated %}
        <a class="to-submit-page centering" href="{% url 'tweets:post' %}">投稿する</a>
    {% endif %}
    <div class="header-menu">
        {% if user.is_authenticated %}
            <a class="to-mypage centering" href="#">{{user.username}}</a>
            <a class="to-logout-page centering" href="{% url 'accounts:sign_out' %}">ログアウト</a>
        {% else %}
            <a class="to-signup-page centering" href="{% url 'accounts:sign_up' %}">新規登録</a>
            <a class="to-signin-page centering" href="{% url 'accounts:sign_in' %}">ログイン</a>
        {% endif %}
    </div>
</div>
<div class="main">
    <div class="a_container">
        <div class="contents">
            <div class="a_tweet" style="background-image: url({{tweet.image}});">
                <div class="tweet_header">
                    <div class="tweet_btns">
                        {% if user.is_authenticated and user == tweet.user %}
                            <a class="tweet_btn" href="{% url 'tweets:edit' tweet.id %}">編集</a>
                            <a class="tweet_btn" href="{% url 'tweets:destroy' tweet.id %}">削除</a>
                        {% endif %}
                    </div>
                </div>
                <div class="tweet_bottom">
                    <p class="tweet_text">{{ tweet.text }}</p>
                    <div class="tweet_name">
                        <a class="tweet_user_name" href="#">{{ tweet.user.username }}</a>
                    </div>
                </div>
            </div>
            <a class="to-index-page centering" href="{% url 'tweets:index' %}">投稿一覧画面へ戻る</a>
        </div>
    </div>
    <div class="footer">
        <p>
            Copyright PicTweet 2019.
        </p>
    </div>
</div>