{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tweets/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'tweets/style.css' %}">

<div class="header">
    <div class="header-logo"><a class="logo-title centering" href="{% url 'tweets:index' %}">Photo Tweet</a></div>
    {% if user.is_authenticated %}
        <a class="to-submit-page centering" href="{% url 'tweets:post' %}">投稿する</a>
    {% endif %}
    <div class="header-menu">
        {% if user.is_authenticated %}
            <a class="to-mypage centering" href="#">{{user.username}}</a>
            <a class="to-logout-page centering" href="{% url 'accounts:sign_out' %}">ログアウト</a>
        {% else %}
            <a class="to-signup-page centering" href="{% url 'accounts:sign_up' %}">新規登録</a>
            <a class="to-signin-page centering" href="{% url 'accounts:sign_in' %}">ログイン</a>
        {% endif %}
    </div>
</div>
<div class="main">
    <div class="a_container">
        <div class="contents">
            <div class="post_title"><p>投稿フォーム</p></div>
            <form action="{% url 'tweets:create' %}" method="post">
                {% csrf_token %}
                {% if error_messages %}
                    <ul class="error_messages">
                        {% for error_message in error_messages %}
                            <li class="error_message">{{ error_message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <fieldset class="fields">
                    <div class="field">
                        <label class="label" for="name">Name</label>
                        <input class="name_form" type="text" name="name" id="name">
                    </div>
                    <div class="field">
                        <label class="label" for="image">Image URL</label>
                        <input class="name_form" type="text" name="image" id="image">
                    </div>
                    <div class="field">
                        <label class="label" for="text">Text</label>
                        <textarea class="text_form" name="text" id="text" rows="8"></textarea>
                    </div>
                </fieldset>
                <div class="submit-btn centering">
                    <input class="submit" type="submit" value="投稿する">
                </div>
                <div class="cancel-btn centering">
                    <a class="cancel centering" href="{% url 'tweets:index' %}">キャンセル</a>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <p>
            Copyright PicTweet 2019.
        </p>
    </div>
</div>