.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: aquamarine;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 80%;
    width: 200px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-left: 30px;
    border: 3px solid antiquewhite;
    background-color: aliceblue;
    border-radius: 10px;
}

.header-menu {
    height: 100%;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.to-submit-page {
    height: 65%;
    width: 130px;
    border: 2px solid skyblue;
    border-radius: 5px;
    color: white;
    background-color: rgb(161, 211, 231);
}

.to-mypage {
    height: 65%;
    width: 130px;
    border: 2px solid skyblue;
    border-radius: 5px;
    color: white;
    background-color: rgb(161, 211, 231);
}

.to-logout-page {
    height: 65%;
    width: 130px;
    border: 2px solid skyblue;
    border-radius: 5px;
    color: white;
    background-color: rgb(161, 211, 231);
}

.main {
    height: calc(100% - 65px);
    overflow: auto;
}

.container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 100px);
}

.contents {
    height: 100%;
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    padding: 20px 0;
}

.a_tweet {
    color: white;
    width: 800px;
    height: 534px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
}

.tweet_header {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    padding-top: 20px;
}

.tweet_btns {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tweet_btn {
    color: grey;
}

.tweet_btn:hover {
    color: white;
    cursor: pointer;
}

.tweet_bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 150px;
}

.tweet_text {
    height: 100%;
    width: 70%;
    font-size: 30px;
    font-weight: bold;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.tweet_name {
    height: 50px;
    width: 20%;
    color: lightgray;
}

.tweet_user_name {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-right: 5px;
}

.to-index-page {
    height: 50px;
    width: 220px;
    margin-top: 100px;
    color: white;
    border: 2px solid skyblue;
    border-radius: 10px;
    background-color: rgb(170, 214, 232);
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    background-color: lightgray;
    color: white;
}

.post_title {
    width: 300px;
    text-align: center;
    margin: 30px;
    color: rgb(88, 189, 228);
    font-weight: bold;
    font-size: 30px;
}

.fields {
    margin-top: 10px;
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.field {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: bold;
    margin-left: 5px;
}

.name_form {
    height: 38px;
    padding: 3px;
    border: 2px solid skyblue;
    border-radius: 7px;
    margin-top: 5px;
}

.text_form {
    padding: 3px;
    border: 2px solid skyblue;
    border-radius: 7px;
    margin-top: 5px;
}

.submit-btn {
    height: 40px;
    margin-top: 20px;
}

.submit {
    height: 100%;
    width: 180px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(190, 219, 231);
    color: white;
}

.submit:hover {
    background-color: rgb(113, 198, 232);
}

.cancel-btn {
    height: 40px;
    margin-top: 20px;
}

.cancel {
    height: 100%;
    width: 180px;
    text-align: center;
    border-radius: 5px;
    background-color: lightgray;
    color: white;
}

.cancel:hover {
    background-color: grey;
}

.error_messages {
    color: red;
    text-align: center;
}

.error_message {
    margin-bottom: 5px;
}